@model IEnumerable<Post>

@{
    ViewBag.Title = "Blog website";
    ViewBag.Description = "This blog has everything";
    ViewBag.Keywords = "blog programming travel photography";
}

<div class="main-image">
    <span class="title">Blog site</span>
</div>
<div class="container">
    @foreach (var post in Model)
    {
        var imagePath = $"/Image/{post.Image}";
        <a class="post" href="/home/post/@post.Id">

            <img src="@imagePath"/>
            <span class="title">
                @post.Title
            </span>
        </a>
    }
</div>
